<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <PanelSet
    id="PolicyVehicleDetailPanelSet">
    <Require
      name="VehicleRU"
      type="VehicleRU"/>
    <DetailViewPanel
      id="PolicyVehicleDetailDV">
      <InputColumn>
        <TextInput
          id="Number"
          label="DisplayKey.get(&quot;NVV.Policy.PolicyVehicleDetail.Vehicle.Number&quot;)"
          required="true"
          value="VehicleRU.RUNumber"
          valueType="java.lang.Integer"/>
        <TextInput
          id="Make"
          label="DisplayKey.get(&quot;NVV.Policy.PolicyVehicleDetail.Vehicle.Make&quot;)"
          required="true"
          value="VehicleRU.Vehicle.Make"/>
        <TextInput
          id="Model"
          label="DisplayKey.get(&quot;NVV.Policy.PolicyVehicleDetail.Vehicle.Model&quot;)"
          required="true"
          value="VehicleRU.Vehicle.Model"/>
        <TextInput
          id="Year"
          label="DisplayKey.get(&quot;NVV.Policy.PolicyVehicleDetail.Vehicle.Year&quot;)"
          value="VehicleRU.Vehicle.Year"
          valueType="java.lang.Integer"/>
        <TypeKeyInput
          id="Style"
          label="DisplayKey.get(&quot;NVV.Policy.PolicyVehicleDetail.Vehicle.Style&quot;)"
          value="VehicleRU.Vehicle.Style"
          valueType="typekey.VehicleStyle">
          <PostOnChange/>
        </TypeKeyInput>
        <TextInput
          id="VIN"
          label="DisplayKey.get(&quot;NVV.Policy.PolicyVehicleDetail.Vehicle.VIN&quot;)"
          value="VehicleRU.Vehicle.Vin"
          visible="VehicleRU.Vehicle.Style != TC_BOAT &amp;&amp; VehicleRU.Vehicle.Style != TC_ATV &amp;&amp; VehicleRU.Vehicle.Style != TC_SNOWMOBILE"/>
        <TextInput
          id="SerialNumber"
          label="DisplayKey.get(&quot;NVV.Policy.PolicyVehicleDetail.Vehicle.SerialNumber&quot;)"
          value="VehicleRU.Vehicle.SerialNumber"
          visible="VehicleRU.Vehicle.Style == TC_BOAT || VehicleRU.Vehicle.Style == TC_ATV || VehicleRU.Vehicle.Style == TC_SNOWMOBILE"/>
        <TextInput
          id="Color"
          label="DisplayKey.get(&quot;NVV.Policy.PolicyVehicleDetail.Vehicle.Color&quot;)"
          value="VehicleRU.Vehicle.Color"/>
        <TypeKeyInput
          filter="VALUE.hasCategory(JurisdictionType.TC_VEHICLE_REG)"
          id="State"
          label="DisplayKey.get(&quot;NVV.Policy.PolicyVehicleDetail.Vehicle.State&quot;)"
          value="VehicleRU.Vehicle.State"
          valueType="typekey.Jurisdiction"/>
        <TextInput
          id="LicensePlate"
          label="DisplayKey.get(&quot;NVV.Policy.PolicyVehicleDetail.Vehicle.LicensePlate&quot;)"
          value="VehicleRU.Vehicle.LicensePlate"/>
        <TypeKeyInput
          id="BoatType"
          label="DisplayKey.get(&quot;NVV.Policy.PolicyVehicleDetail.Vehicle.BoatType&quot;)"
          value="VehicleRU.Vehicle.BoatType"
          valueType="typekey.BoatType"
          visible="VehicleRU.Vehicle.Style == TC_BOAT"/>
        <TypeKeyInput
          id="OffRoadStyle"
          label="DisplayKey.get(&quot;NVV.Policy.PolicyVehicleDetail.Vehicle.OffRoadStyle&quot;)"
          value="VehicleRU.Vehicle.OffRoadStyle"
          valueType="typekey.OffRoadVehicleStyle"
          visible="VehicleRU.Vehicle.Style == TC_ATV || VehicleRU.Vehicle.Style == TC_SNOWMOBILE"/>
        <ListViewInput
          def="EditableVehicleLienholdersLV(VehicleRU.Vehicle, VehicleRU.Policy.Claim)"
          editable="false"
          label="DisplayKey.get(&quot;NVV.Policy.PolicyVehicleDetail.Vehicle.Lienholders&quot;)"
          validationExpression="VehicleRU.Vehicle.validateLienholders()">
          <Toolbar>
            <IteratorButtons
              iterator="EditableVehicleLienholdersLV.EditableVehicleLienholdersLV"/>
          </Toolbar>
        </ListViewInput>
        <TypeKeyInput
          id="status_ext"
          label="DisplayKey.get(&quot;Toggle.NVV.Policy.PolicyVehicleDetail.Vehicle.Status_Ext&quot;)"
          value="VehicleRU.Vehicle.VehicleStatus_Ext"
          valueType="typekey.PolicyStatus"/>
        <DateInput
          id="effective_date_ext"
          label="DisplayKey.get(&quot;Toggle.NVV.Policy.PolicyVehicleDetail.Vehicle.EffectiveDate_Ext&quot;)"
          value="VehicleRU.Vehicle.EffectiveDate_Ext"/>
        <DateInput
          id="expiration_date_ext"
          label="DisplayKey.get(&quot;Toggle.NVV.Policy.PolicyVehicleDetail.Vehicle.ExpirationDate_Ext&quot;)"
          value="VehicleRU.Vehicle.ExpirationDate_Ext"/>
        <BooleanRadioInput
          id="rideshare_use_ext"
          label="DisplayKey.get(&quot;Toggle.NVV.Policy.PolicyVehicleDetail.Vehicle.SideHustle_Ext&quot;)"
          value="VehicleRU.Vehicle.RideshareUse_Ext"/>
      </InputColumn>
    </DetailViewPanel>
    <ListDetailPanel
      id="PolicyVehicleCoverageListDetail"
      selectionName="Coverage"
      selectionType="Coverage">
      <PanelRef
        def="EditableVehicleCoveragesLV(VehicleRU.Vehicle, VehicleRU)">
        <TitleBar
          subtitle="DisplayKey.get(&quot;NVV.Policy.PolicyVehicleDetail.Vehicle.Coverages.Subtitle&quot;)"
          title="DisplayKey.get(&quot;NVV.Policy.PolicyVehicleDetail.Vehicle.Coverages&quot;)"/>
        <Toolbar>
          <IteratorButtons
            iterator="EditableVehicleCoveragesLV.EditableVehicleCoveragesLV"
            removeVisible="false"/>
          <EditButtons
            editVisible="perm.Claim.edit(VehicleRU.Policy.Claim) and perm.Policy.edit(VehicleRU.Policy.Claim) and perm.Policy.makeeditable(VehicleRU.Policy.Claim) and perm.System.edit_coverages_ext"/>
        </Toolbar>
      </PanelRef>
      <PanelRef
        def="ClaimPolicyCovTermsCV(Coverage)"
        editable="true"/>
    </ListDetailPanel>
  </PanelSet>
</PCF>